@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.is-current {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {opacity:0.7;}
    100% {opacity:1;}
  }