@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Regular.otf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../public/fonts/Raleway-Bold.otf");
}
html {
  scroll-behavior: smooth;
}
.is-current {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {opacity:0.8;}
    100% {opacity:1;}
  }