@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Regular.otf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../public/fonts/Raleway-Bold.otf");
}
html {
  scroll-behavior: smooth;
}
.iscurrent {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  /* animation: fadeIn 2s; */
}
@keyframes fadeIn {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.delay25 {
  animation-delay: 0.25s;
}
.delay50 {
  animation-delay: 0.5s;
}
.delay75 {
  animation-delay: 0.75s;
}
.delay100 {
  animation-delay: 1s;
}
.delay125 {
  animation-delay: 1.25s;
}
.delay140 {
  animation-delay: 1.4s;
}
.delay170{
  animation-delay: 1.7s;
}
.delay210{
  animation-delay: 2.10s;
}
.delay240{
  animation-delay: 2.40s;
}
.delay280{
  animation-delay: 2.80s;
}


.boxshadow {
  box-shadow: 0 30px 60px -12px rgb(50 50 93 / 25%),
    0 18px 36px -18px rgb(0 0 0 / 30%), 0 -12px 36px -8px rgb(0 0 0 / 3%);
}
.bordericon{
  border-radius: 8px 0 0 8px;
}
